.main-layout {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0.5rem 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-y: auto;
}

.main-props {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  min-height: 100vh;
}
